.postDetails {
  margin: 80px auto; 
  width: 55em;
  background-color: #f9f9f9; 
  padding: 1.5rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

.postImage {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.postDetails h1 {
  font-size: 2rem;
  color: #333;
  padding-left: 10px;
}

.postDetails p {
  font-size: 1.2rem;
  color: #555;
}

.titleUpvote {
  display: flex;
  align-items: center;
}

.upvoteButton, .deleteButton, .editButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.upvoteIcon, .deleteIcon, .editIcon {
  width: 20px;
  height: 20px;
  filter: invert(1) brightness(50%) sepia(100%) saturate(10000%);
}

.deleteButton:hover .deleteIcon {
  filter: invert(1) brightness(100%) sepia(0) saturate(100%);  
}

.upvoteCount {
  font-weight: bold;
  font-size: 16px;
}

.commentSection {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.commentInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.commentButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.commentButton:hover {
  background-color: #45a049;
}

.commentsList {
  margin-top: 20px;
}

.commentCard {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.commentText {
  font-size: 1rem;
  color: #333;
}

.commentDate {
  font-size: 0.8rem;
  color: #888;
  display: block;
  margin-top: 5px;
}


